.pointer {
    cursor: pointer;
}

.thumbnail_size {
    max-width: 300px;
}

.client_list {
    position: absolute;
    z-index: 1000;
}

.make_img {
    width: 100px;
    max-height: 150px;
}

a:link {
    color: #00c
}

/* unvisited links */
a:visited {
    color: #0c0
}

/* visited links   */
a:hover {
    color: #c00
}

/* user hovers     */
a:active {
    color: #ccc
}