.pointer {
    cursor: pointer;
}

.thumbnail_size {
    max-width: 300px;
}

.client_list {
    position: absolute;
    z-index: 1000;
}

.make_img {
    width: 100px;
    max-height: 100px;
}

a:link {
    color: #00c
}

/* unvisited links */
a:visited {
    color: #00c
}

/* visited links   */
a:hover {
    color: #00c
}

/* user hovers     */
a:active {
    color: #ccc
}

.make_message {
    width: 800px;
}