<div role="tabpanel" class="tab-pane" id="clients">
    <button class="btn btn-default pull-right" type="button" data-toggle="modal"
            data-target="#editClient" @click="setEditClientDefault"><i class="fa fa-plus"
                                                                       aria-hidden="true"></i>&nbsp;Добавить
        клиента
    </button>
    <table class="table">
        <thead>
        <td>#</td>
        <td>ФИО</td>
        <td>О профиль</td>
        <td>Район</td>
        <td>Приветствие</td>
        <td>Обращение</td>
        <td></td>
        </thead>
        <tbody>
        <tr v-for="(clt,index) in clients" v-if="(clt.client_id == client.client_id) || (!client.client_id)">
            <td>${clt.client_id}</td>
            <td>${clt.client_name}</td>
            <td><a :href="clt.profile_link" target="_blank">${clt.profile_link}</a></td>
            <td>${clt.region}</td>
            <td>${clt.client_honor}</td>
            <td>${clt.client_greeting}</td>
            <td>
                <button class="btn btn-default btn-sm" type="button" data-toggle="modal"
                        data-target="#editClient" @click="setEditClient(index)"><i
                            class="fa fa-pencil"
                            aria-hidden="true"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>