<div role="tabpanel" class="tab-pane" id="customs">
    <button class="btn btn-default pull-right" type="button" data-toggle="modal"
            data-target="#editCustom" @click="setEditCustomDefault"><i class="fa fa-plus"
                                                                       aria-hidden="true"></i>&nbsp;Добавить
        Заказ
    </button>
    <table class="table">
        <thead>
        <td>#</td>
        <td>Номер</td>
        <td>Название</td>
        <td>Дата отправки</td>
        <td>Дата прихода</td>
        <td>Дата раздачи</td>
        <td>Стоимость доставки</td>
        <td>Комиссия банка</td>
        <td></td>
        </thead>
        <tbody>
        <tr v-for="(cst, index) in source_customs">
            <td>${cst.custom_id}</td>
            <td>${cst.custom_numb}</td>
            <td>${cst.custom_name}</td>
            <td>${getDateFormat(cst.send_date)}</td>
            <td>${getDateFormat(cst.delivery_date)}</td>
            <td>${getDateFormat(cst.issue_date)}</td>
            <td>${formatPrice(cst.delivery_sum)}</td>
            <td>${formatPrice(cst.bank_commission)}</td>
            <td style="width:100px">
                <button class="btn btn-default btn-sm" type="button" data-toggle="modal"
                        data-target="#editCustom" @click="editSourceCustom(index)"><i
                            class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="btn btn-default btn-sm" type="button"
                        @click="deleteSourceCustom(index)"><i
                            class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>