<div role="tabpanel" class="tab-pane" id="make_message">
    <table class="table">
        <thead>
        <td>Клиент</td>
        <td>Профиль в О</td>
        <td>Сообщение</td>
        </thead>
        <tbody>
        <tr v-for="(mp, index) in make_payment">
            <td>${mp.client_name}</td>
            <td><a :href="mp.profile_link" target="_blank">${mp.profile_link}</a></td>
            <td><textarea class="form-control make_message" rows="4" readonly @click="copyToClipboard(mp.client_message)">${mp.client_message}</textarea>
            </td>
        </tr>
        </tbody>
    </table>
</div>