<div role="tabpanel" class="tab-pane" id="make_payment">
    <table class="table">
        <thead>
        <td>Клиент</td>
        <td>Стоимость заказа</td>
        <td>Оплата</td>
        <td>Остаток</td>
        </thead>
        <tbody>
        <tr v-for="(mp, index) in make_payment">
            <td>${mp.client_name}</td>
            <td>${formatPrice(mp.custom_sum)}</td>
            <td><span v-if="mp.payment_sum">${formatPrice(mp.payment_sum)}</span></td>
            <td>${formatPrice(mp.custom_sum - mp.payment_sum)}</td>
        </tr>
        </tbody>
    </table>
</div>