<div role="tabpanel" class="tab-pane active" id="make_custom">
    <table class="table">
        <thead>
        <td class="pointer" @click="invertSortName()">Клиент&nbsp;<i class="fa" :class="sortClassClientName"
                                                                     aria-hidden="true"></i></td>
        <td>Название товара</td>
        <td class="pointer" @click="invertSortArticle()">Артикул&nbsp;<i class="fa" :class="sortClassArticle"
                                                                         aria-hidden="true"></i></td>
        <td>Размер</td>
        <td>Описание</td>
        <td>Количество</td>
        <td>На кого</td>
        <td>Цена сайта</td>
        <td>Цена</td>
        <td>Стоимость</td>
        <td>Фото
            <button @click="showImage = !showImage" title="Показать/скрыть итоги"><i class="fa pull-right"
                                                                                     :class="{'fa-eye-slash':showImage == 1, 'fa-eye':showImage == 0}"
                                                                                     aria-hidden="true"></i>
            </button>
        </td>
        <td>Нет на складе</td>
        </thead>
        <tbody>
        <tr v-for="(itm, index) in make_item_people">
            <td><a class="pointer" @click="setSearchClient(itm)">${itm.client_name}</a></td>
            <td>${itm.item_name}</td>
            <td>
                <a v-if="!showImage" :href="itm.item_link" target="_blank">${itm.article}</a><br/>
                <a v-if="!showImage" class="pointer" @click="searchArticle = itm.article">${itm.article}</a>
                <span v-if="showImage">${itm.article}</span>
            </td>
            <td>${itm.item_size}</td>
            <td>${itm.comment}</td>
            <td>${itm.item_count}</td>
            <td>${itm.sex}</td>
            <td>${formatPrice(itm.source_price)}</td>
            <td>${formatPrice(itm.sale_price)}</td>
            <td>${formatPrice(itm.total)}</td>
            <td>
                <div class="thumbnail make_img" v-if="showImage && itm.item_photo">
                    <image :src="getImageUrl(itm.item_photo)"/>
                </div>
            </td>
            <td><input type="checkbox" :checked="itm.decline_after_sale == 1" :value="itm.decline_after_sale"
                       @click="declineCustomItem(itm)">
            </td>
        </tr>
        </tbody>
        <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>ИТОГО:</strong></td>
        <td><strong>${total.item_count}</strong></td>
        <td></td>
        <td><strong>${formatPrice(total.source_total)}</strong></td>
        <td></td>
        <td><strong>${formatPrice(total.sale_total)}</strong></td>
        <td></td>
        <td></td>
        </tfoot>
    </table>
</div>