<div role="tabpanel" class="tab-pane" id="send_custom">
    <div class="container-fluid">
        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="#make_custom" aria-controls="make_custom" role="tab"
                                           data-toggle="tab">Заказ</a></li>
                <li role="presentation"><a href="#make_payment" aria-controls="make_payment" role="tab"
                                           data-toggle="tab">Оплаты</a></li>
                <li role="presentation"><a href="#make_message" aria-controls="make_message" role="tab"
                                           data-toggle="tab">Сообщения</a></li>
            </ul>
            <div class="tab-content">
                {% include ("tabs/make.custom.html.twig") %}
                {% include ("tabs/make.payment.html.twig") %}
                {% include ("tabs/make.message.html.twig") %}
            </div>
        </div>
    </div>
</div>