<div class="modal fade" id="editPayment" tabindex="-1" role="dialog" aria-labelledby="editPaymentLabes">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Изменение платежа по: ${custom.custom_name} , Клиент: ${editCustomItem.client_name}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputId" class="col-sm-2 control-label">#</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputId"
                                   v-model="editPayment.payment_id" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputClient" class="col-sm-2 control-label">Клиент</label>
                        <div class="col-sm-10">
                            <input id="inputClient" class="form-control" placeholder="Клиент"
                                   v-model="searchFormClient" autocomplete="off">
                            <div v-if="(searchFormClient && editPayment.client_name !== searchFormClient)" class="client_list">
                                <div class="col-xs-12 list-group">
                                    <a href="#" @click="selectPaymentFormClient(cl)" class="list-group-item"
                                       v-for="cl in filteredFormClients">${ cl.client_name }</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDate" class="col-sm-2 control-label">Дата</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="inputDate" placeholder="Дата"
                                   v-model="editPayment.payment_date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSum" class="col-sm-2 control-label">Сумма</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputSum"
                                   placeholder="Ссылка" v-model="formatPrice(editPayment.payment_sum)">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="setPayment">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>