<div class="modal fade" id="editSource" tabindex="-1" role="dialog" aria-labelledby="editSourceLabes">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Изменение источника: ${editSource.source_name}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputId" class="col-sm-2 control-label">#</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputId"
                                   v-model="editSource.source_id" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Название</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" placeholder="Название"
                                   v-model="editSource.source_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSourceUrl" class="col-sm-2 control-label">Ссылка</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputSourceUrl"
                                   placeholder="Ссылка" v-model="editSource.source_url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputImageUrl" class="col-sm-2 control-label">Папка с изображениями
                            товаров</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputImageUrl"
                                   placeholder="Папка с изображениями товаров"
                                   v-model="editSource.image_folder">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="setSource">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>