<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="https://unpkg.com/vue"></script>
    {% block js %}{% endblock js %}
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome/css/font-awesome.min.css">
    {% block css %}{% endblock css %}
</head>
<body>
{% block app %}{% endblock app %}
</body>
</html>




