{% extends "base.html.twig" %}
{% block js %}
    <script src="/web/assets/sales.source.js"></script>
{% endblock js %}
{% block title %}Совместные закупки{% endblock %}
{% block app %}
    <div id="sls">
        <div class="container-fluid well">
            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                <div class="form-group col-xs-2">
                    <label for="source_site">Источник:</label>
                    <select v-model="source" class="form-control" id="source_site">
                        <option v-for="srcs in sources" :value="srcs">${ srcs.source_name }</option>
                    </select>
                </div>
                <div class="form-group col-xs-2">
                    <label for="source_custom">Номер заказа:</label>
                    <select v-model="custom" class="form-control" id="source_custom">
                        <option v-for="cstm in source_customs" :value="cstm">${ cstm.custom_name }</option>
                    </select>
                </div>
                <div class="form-group col-xs-2">
                    <label for="choise_client">Клиент:</label>
                    <div class="input-group">
                        <input id="choise_client" class="form-control" placeholder="Клиент" @input="clearSearchClient()"
                               v-model="searchClient" autocomplete="off">
                        <span class="input-group-addon pointer" @click="clearSearchClient(); searchClient = '';">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div v-if="(searchClient && !client.client_name)" class="client_list">
                        <div class="col-xs-12 list-group">
                            <a href="#" @click="selectClient(fcl)" class="list-group-item"
                               v-for="fcl in filteredClients">${ fcl.client_name }</a>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-2">
                    <label for="choise_article">Артикул:</label>
                    <div class="input-group">
                        <input id="choise_article" class="form-control" placeholder="Артикул"
                               @input="clearSearchClient()"
                               v-model="searchArticle" autocomplete="off">
                        <span class="input-group-addon pointer" @click="searchArticle = ''">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="col-xs-4 text-right">
                    <button @click="showTotal = !showTotal" title="Показать/скрыть итоги"><i class="fa"
                                                                                             :class="{'fa-eye-slash':showTotal == 1, 'fa-eye':showTotal == 0}"
                                                                                             aria-hidden="true"></i>
                    </button>
                    <h4 v-if="showTotal">
                        <div class="col-xs-3 col-xs-offset-6 pull-left">Заказ:</div>
                        <div class="col-xs-3 pull-right">${formatPrice(total.source_total)}</div>
                    </h4>
                    <h4 v-if="showTotal">
                        <div class="col-xs-3 col-xs-offset-6 pull-left">Продажа:</div>
                        <div class="col-xs-3 pull-right">${formatPrice(total.sale_total)}</div>
                    </h4>
                    <h4 v-if="showTotal">
                        <div class="col-xs-3 col-xs-offset-6 pull-left">Оплаты:</div>
                        <div class="col-xs-3 pull-right">${formatPrice(total.payment_total)}</div>
                    </h4>
                    <h4 v-if="showTotal">
                        <div class="col-xs-3 col-xs-offset-6 pull-left">Остаток:</div>
                        <div class="col-xs-3 pull-right">${formatPrice(total.sale_total - total.payment_total)}</div>
                    </h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#manage_custom" aria-controls="manage_custom" role="tab"
                                               data-toggle="tab">Формирование заказа</a></li>
                    <li role="presentation"><a href="#send_custom" aria-controls="send_custom" role="tab"
                                               data-toggle="tab">Отправка заказа</a></li>
                </ul>
                <div class="tab-content">
                    {% include ("tabs/manage.custom.html.twig") %}
                    {% include ("tabs/send.custom.html.twig") %}
                </div>
            </div>
        </div>
    </div>
{% endblock app %}