{% extends "base.html.twig" %}
{% block title %}Совместные закупки{% endblock %}
{% block app %}
    <div class="container-fluid"><i class="fa fa-exclamation" aria-hidden="true"></i>&nbsp;Hello !!!</div>
{% endblock app %}