{% extends "base.html.twig" %}
{% block js %}
    <script src="/web/assets/sales.source.js"></script>
{% endblock js %}
{% block title %}Совместные закупки{% endblock %}
{% block app %}
    <div class="container-fluid well" id="sls">
        <select v-model="source">
            <option v-for="srcs in sources">${ srcs.source_name }</option>
        </select>
        <span>Selected: ${ source }</span>
    </div>
{% endblock app %}