{% extends "base.html.twig" %}
{% block js %}
    <script src="/web/assets/sales.source.js"></script>
{% endblock js %}
{% block title %}Совместные закупки{% endblock %}
{% block app %}
    <div id="sls">
        <div class="container-fluid well">
            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                <div class="form-group col-xs-2">
                    <label for="source_site">Источник:</label>
                    <select v-model="source" class="form-control" id="source_site">
                        <option v-for="srcs in sources" :value="srcs">${ srcs.source_name }</option>
                    </select>
                    <span>Выбран: ${ source }</span>
                </div>
                <div class="form-group col-xs-2">
                    <label for="source_custom">Номер заказа:</label>
                    <select v-model="custom" class="form-control" id="source_custom">
                        <option v-for="cstm in source_customs" :value="cstm">${ cstm.custom_name }</option>
                    </select>
                    <span>Выбран: ${ custom }</span>
                </div>
                <div class="form-group col-xs-2">
                    <label for="choise_client">Клиент:</label>
                    <input id="choise_client" class="form-control" placeholder="Клиент" @input="clearSearchClient()"
                           v-model="searchClient">
                    <div v-if="(searchClient && !client.client_name)">
                        <div class="col-xs-12 list-group">
                            <a href="#" @click="selectClient(fcl)" class="list-group-item"
                               v-for="fcl in filteredClients">${ fcl.client_name }</a>
                        </div>
                    </div>
                    <span>Выбран: ${ client }</span>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#sources" aria-controls="sources" role="tab"
                                               data-toggle="tab">Источники</a></li>
                    <li role="presentation"><a href="#customs" aria-controls="customs" role="tab"
                                               data-toggle="tab">Заказы</a></li>
                    <li role="presentation" class="active"><a href="#custom_items" aria-controls="custom_items"
                                                              role="tab"
                                                              data-toggle="tab">Заказанные товары</a></li>
                    <li role="presentation"><a href="#payments" aria-controls="payments" role="tab" data-toggle="tab">Оплаты</a>
                    </li>
                    <li role="presentation"><a href="#clients" aria-controls="clients" role="tab" data-toggle="tab">Клиенты</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="sources">
                        <button class="btn btn-default pull-right" type="button" data-toggle="modal"
                                data-target="#editSource" @click="setEditSourceDefault"><i class="fa fa-plus"
                                                                                       aria-hidden="true"></i>&nbsp;Добавить
                            Источник
                        </button>
                        <table class="table">
                            <thead>
                            <td>#</td>
                            <td>Источник</td>
                            <td>Ссылка на источник</td>
                            <td>Папка с картинками</td>
                            <td></td>
                            </thead>
                            <tbody>
                            <tr v-for="(src, index) in sources">
                                <td>${src.source_id}</td>
                                <td>${src.source_name}</td>
                                <td><a :href="src.source_url">${src.source_url}</a></td>
                                <td>${src.image_folder}</td>
                                <td style="width:100px">
                                    <button class="btn btn-default btn-sm" type="button" data-toggle="modal"
                                            data-target="#editSource" @click="setEditSource(index)"><i
                                                class="fa fa-pencil" aria-hidden="true"></i></button>
                                    <button class="btn btn-default btn-sm" type="button" @click="deleteSource(index)"><i
                                                class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="customs"></div>
                    <div role="tabpanel" class="tab-pane active" id="custom_items">
                        <button class="btn btn-default pull-right" type="button" data-toggle="modal"
                                data-target="#editCustomItem" @click="setCustomItemDefault"><i class="fa fa-plus"
                                                                                       aria-hidden="true"></i>&nbsp;Добавить
                            позицию
                        </button>
                        <table class="table">
                            <thead>
                            <td>#</td>
                            <td>Клиент</td>
                            <td>Название товара</td>
                            <td>Артикул</td>
                            <td>Ссылка</td>
                            <td>Размер</td>
                            <td>Количество</td>
                            <td>На кого</td>
                            <td>Начальная цена</td>
                            <td>Конечная цена</td>
                            <td>Стоимость</td>
                            <td>Фото</td>
                            <td>Отказ</td>
                            <td>Не подошло</td>
                            <td></td>
                            <td></td>
                            </thead>
                            <tbody>
                            <tr v-for="(itm, index) in custom_items"
                                v-if="((client.client_id) && itm.client_id == client.client_id) || (!client.client_id)">
                                <td>${itm.log_id}</td>
                                <td>${itm.client_name}</td>
                                <td>${itm.item_name}</td>
                                <td>${itm.article}</td>
                                <td><a :href="itm.item_link" target="_blank">${itm.item_link}</a></td>
                                <td>${itm.item_size}</td>
                                <td>${itm.item_count}</td>
                                <td>${itm.sex}</td>
                                <td>${itm.source_price}</td>
                                <td>${itm.sale_price}</td>
                                <td>${itm.total}</td>
                                <td><div class="thumbnail" v-if="itm.item_photo"><image :src="getImageUrl(itm.item_photo)" /></div></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button class="btn btn-default btn-sm" type="button" data-toggle="modal"
                                            data-target="#editCustomItem" @click="setCustomItem(index)"><i
                                                class="fa fa-pencil" aria-hidden="true"></i></button>
                                </td>
                                <td>
                                    <button class="btn btn-default btn-sm" type="button" @click="deleteCustomItem(index)"><i
                                                class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="payments"></div>
                    <div role="tabpanel" class="tab-pane" id="clients">
                        <button class="btn btn-default pull-right" type="button" data-toggle="modal"
                                data-target="#editClient" @click="setEditClientDefault"><i class="fa fa-plus"
                                                                                           aria-hidden="true"></i>&nbsp;Добавить
                            клиента
                        </button>
                        <table class="table">
                            <thead>
                            <td>#</td>
                            <td>ФИО</td>
                            <td>О профиль</td>
                            <td>Район</td>
                            <td>Приветствие</td>
                            <td>Обращение</td>
                            <td></td>
                            </thead>
                            <tbody>
                            <tr v-for="(clt,index) in clients" v-if="(clt.client_id == client) || (!client)">
                                <td>${clt.client_id}</td>
                                <td>${clt.client_name}</td>
                                <td><a :href="clt.profile_link" target="_blank">${clt.profile_link}</a></td>
                                <td>${clt.region}</td>
                                <td>${clt.client_honor}</td>
                                <td>${clt.client_greeting}</td>
                                <td>
                                    <button class="btn btn-default btn-sm" type="button" data-toggle="modal"
                                            data-target="#editClient" @click="setEditClient(index)"><i
                                                class="fa fa-pencil"
                                                aria-hidden="true"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editSource" tabindex="-1" role="dialog" aria-labelledby="editSourceLabes">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Изменение источника: ${editSource.source_name}</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputId" class="col-sm-2 control-label">#</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputId"
                                           v-model="editSource.source_id" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Название</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputName" placeholder="Название"
                                           v-model="editSource.source_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSourceUrl" class="col-sm-2 control-label">Ссылка</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputSourceUrl"
                                           placeholder="Ссылка" v-model="editSource.source_url">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputImageUrl" class="col-sm-2 control-label">Папка с изображениями товаров</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputImageUrl"
                                           placeholder="Папка с изображениями товаров" v-model="editSource.image_folder">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="setSource">
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editCustomItem" tabindex="-1" role="dialog" aria-labelledby="editCustomItemLabes">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"> ${source.source_name}, ${custom.custom_name} для
                            ${editCustomItem.client_name}</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputId" class="col-sm-2 control-label">#</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="inputId"
                                           v-model="editCustomItem.log_id" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputItem" class="col-sm-2 control-label">Тип</label>
                                <div class="col-sm-10">
                                    <select v-model="editCustomItem.item_id" class="form-control input-sm" id="inputSex">
                                        <option v-for="itm in items" :value="itm.item_id">${ itm.item_name }</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputArticle" class="col-sm-2 control-label">Артикул</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="inputArticle"
                                           placeholder="Артикул" v-model="editCustomItem.article">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLink" class="col-sm-2 control-label">Ссылка</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="inputLink" placeholder="Ссылка"
                                           v-model="editCustomItem.item_link">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSize" class="col-sm-2 control-label">Размер</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="inputSize" placeholder="Размер"
                                           v-model="editCustomItem.item_size">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCount" class="col-sm-2 control-label">Количество</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control input-sm" min="1" id="inputCount"
                                           placeholder="Количество"
                                           v-model="editCustomItem.item_count">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputImage" class="col-sm-2 control-label">Изображение</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control input-sm" min="1" id="inputImage"
                                           placeholder="Изображение"
                                           v-model="editCustomItem.item_photo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSex" class="col-sm-2 control-label">Пол</label>
                                <div class="col-sm-10">
                                    <select v-model="editCustomItem.sex" class="form-control input-sm" id="inputSex">
                                        <option v-for="sx in sex" :value="sx.name">${ sx.name }</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSourcePrice" class="col-sm-2 control-label">Начальная цена</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control input-sm" id="inputSourcePrice"
                                           placeholder="Начальная цена"
                                           v-model="editCustomItem.source_price">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSalePrice" class="col-sm-2 control-label">Цена продажи</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control input-sm" id="inputSalePrice"
                                           placeholder="Цена продажи"
                                           v-model="editCustomItem.sale_price">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Выйти</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="setCustomItemOnce()">
                            Сохранить и выйти
                        </button>
                        <button type="button" class="btn btn-primary" @click="setCustomItemMulti(); return false;">
                            Сохранить и продолжить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editClient" tabindex="-1" role="dialog" aria-labelledby="editClientLabes">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Изменение клиента: ${editClient.client_name}</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputId" class="col-sm-2 control-label">#</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputId"
                                           v-model="editClient.client_id" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFIO" class="col-sm-2 control-label">ФИО</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputFIO" placeholder="ФИО"
                                           v-model="editClient.client_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputProfileLink" class="col-sm-2 control-label">Профиль</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputProfileLink"
                                           placeholder="ОК профиль" v-model="editClient.profile_link">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputRegion" class="col-sm-2 control-label">Район</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputRegion" placeholder="Район"
                                           v-model="editClient.region">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputHonor" class="col-sm-2 control-label">Обращение</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputHonor" placeholder="Обращение"
                                           v-model="editClient.client_honor">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputGreeting" class="col-sm-2 control-label">Приветствие</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputGreeting" placeholder="Приветствие"
                                           v-model="editClient.client_greeting">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="setClient">
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock app %}