{% extends "base.html.twig" %}
{% block js %}
    <script src="/web/assets/sales.source.js"></script>
{% endblock js %}
{% block title %}Совместные закупки{% endblock %}
{% block app %}
    <div class="container-fluid well" id="sls">
        <div class="col-xs-2">
            <select v-model="source" class="form-control">
                <option v-for="srcs in sources" :value="srcs.source_id">${ srcs.source_name }</option>
            </select>
            <span>Selected: ${ source }</span>
        </div>
    </div>
{% endblock app %}